body{
    color: var(--color-text);
    font-family: var(--font-family);
}

.glossary__content-container{
    display: flex;
    width: 100%;
    flex-direction: column;

}

.glossary__content-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.glossary__content-btn{
    font-family: var(--font-family);
    padding: 0.5rem 1rem;
    background-color: var(--color-button);
    border-radius: 3px;
    user-select: none;
    color: var(--btn-text);
    font-size: 0.8rem;
    gap: 0.25rem;
}

.glossary__content-btn:hover{
    transform: scale(1.2);
    cursor: pointer;
    
}

.glossary__content-container_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-border);

}

@media screen and (max-width: 576px){
    .glossary__content-btn{
        font-size: 10px;
    }
    .glossary__content-btn:hover{
        transform: scale(1.1);
    }
}