.app__card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    width: 300px;
    margin: 10px;
    font-family: var(--font-family);
    background: var(--color-navbar);
    text-align: center;
    box-shadow: 0px 2px 4px 6px rgba(0, 0, 0, 0.2);
}

h3{
    margin: 1rem;
}

h2{
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.app__card-image {
    height: 150px;
    /* Adjust the height of the image portion */
    background-size: cover;
    background-position: center;
    border-radius: 8px 8px 0 0;
}

.app__card-content {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.app__card-title {
    font-size: 18px;
    color: var(--color-text);
}

.app__card-button {
    padding: 8px 16px;
    background-color: #3498db;
    color: var(--color-text);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.app__card-button:hover {
    background-color: #2980b9;
    transition: all 0.5s ease-out;
}

.app__card-difficulty{
    font-size: 15px;
    font-weight: 400;
}


  