@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --font-family: 'Roboto', sans-serif;
    --color-bg: #1b1b1b;
    --color-footer: #313131;
    --color-blog: #042c54;
    --color-text: #fff;
    --color-navbar: #1b1b1b;
    --color-border: #313131;
    --color-button: #fff;
    --btn-text: #1b1b1b;
}

