@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --font-family: 'Roboto', sans-serif;

    --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);

    --color-bg: #1b1b1b;
    --color-footer: #313131;
    --color-blog: #042c54;
    --color-text: #fff;
    --color-subtext: #FF8A71;
    --color-navbar: #1b1b1b;
    --color-border: #313131;
    --color-button: #fff;
    --btn-text: #1b1b1b;
}

